.width-33-per {
  width: 33%;
}

.width-65-px-fixed {
  min-width: 65px;
  max-width: 65px;
}

.pony {
  height: 75px;
  background-size: contain;
  background-image: url('./pony2.png'), linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 800s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 10000% 0%;
  }
}
