.width-33-per {
  width: 33%;
}

.width-65-px-fixed {
  min-width: 65px;
  max-width: 65px;
}

.divider {
  height: 50px;
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // background-size: 400% 400%;
  // animation: gradient 2s ease infinite;
}

.pony {
  height: 50px;
  background-size: contain;
  background-image: url('https://github.com/Gustly7/web-platform-b3s1dq/blob/main/pony.png');
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
